<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :attachment %>
      <%= form.file_field :attachment %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= form.label :alt %><br>
      <%= form.text_field :alt %>
    </div>
  </div>
</div>